/****************************************
 ***  BE SURE TO CHANGE DB Name BELOW ***
*****************************************/
DECLARE @DBName			NVARCHAR(256)	= N'mnDataWarehouse'

/****************************************
 ***  BE SURE TO CHANGE FILE PATH BELOW ***
*****************************************/

DECLARE @MDFFilePath	NVARCHAR(256)	= N'E:\SQL_DATA\' +  @DBName + '.mdf'
DECLARE @LogFile		NVARCHAR(256)	= @DBName + '_Log'
DECLARE	@LDFFilePath	NVARCHAR(256)	= N'E:\SQL_LOG\' + @LogFile + '.ldf'
DECLARE @SQL NVARCHAR(3500)

/****************************************
 ***  BE SURE TO FILE SIZES BELOW ***
*****************************************/
SET @SQL = N'
CREATE DATABASE [' + @DBName + '] CONTAINMENT = NONE ON  
 PRIMARY  ( NAME = N''' + @DBName  + ''', FILENAME = N''' + @MDFFilePath + ''' , SIZE = 262144KB , FILEGROWTH = 1024KB ) 
 LOG ON   ( NAME = N''' + @LogFile + ''', FILENAME = N''' + @LDFFilePath + ''' , SIZE = 32768KB  , FILEGROWTH = 32768KB )'

EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET COMPATIBILITY_LEVEL = 120'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET ANSI_NULL_DEFAULT OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET ANSI_NULLS OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET ANSI_PADDING OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET ANSI_WARNINGS OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET ARITHABORT OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET AUTO_CLOSE OFF' 
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET AUTO_SHRINK OFF' 
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET AUTO_CREATE_STATISTICS ON'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET AUTO_UPDATE_STATISTICS ON' 
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET CURSOR_CLOSE_ON_COMMIT OFF' 
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET CURSOR_DEFAULT  LOCAL'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET CONCAT_NULL_YIELDS_NULL OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET NUMERIC_ROUNDABORT OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET QUOTED_IDENTIFIER OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET RECURSIVE_TRIGGERS OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET  ENABLE_BROKER'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET AUTO_UPDATE_STATISTICS_ASYNC OFF' 
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET DATE_CORRELATION_OPTIMIZATION OFF' 
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET PARAMETERIZATION SIMPLE'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET READ_COMMITTED_SNAPSHOT OFF'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET  READ_WRITE' 
EXEC(@SQL)

/****************************************
 ***  BE SURE TO CHANGE RECOVERY MODEL BELOW ***
*****************************************/
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET RECOVERY SIMPLE'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET  MULTI_USER'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET PAGE_VERIFY CHECKSUM'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET TARGET_RECOVERY_TIME = 0 SECONDS'
EXEC(@SQL)
SET @SQL = N'ALTER DATABASE [' + @DBName + '] SET DELAYED_DURABILITY = DISABLED' 
EXEC(@SQL)

SET @SQL = 'USE [' + @DBName + ']'
EXEC(@SQL)
SET @SQL = N'IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N''PRIMARY'') 
				ALTER DATABASE [' + @DBName + '] MODIFY FILEGROUP [PRIMARY] DEFAULT'
EXEC(@SQL)

GO
/*
	Create Dummy Table
*/
CREATE TABLE dbo.TestTable
(
	Id INT NOT NULL
)
GO

/*
	Create Dummy Proc
*/
CREATE PROCEDURE dbo.usp_TestProc
AS
BEGIN
	SET NOCOUNT ON
END
GO

/*
	Create Dummy Function
*/
CREATE FUNCTION dbo.ufn_TestFunc()
RETURNS INT
AS
BEGIN
	RETURN 1
END
GO
/*
	Create Dummy View
*/
CREATE VIEW dbo.vw_Test
AS
	SELECT GETDATE() AS DT
GO
